# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Proyecto BASES-POO 2021.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\USUARIO\Desktop\PARCIAL_2POO\parcial02-davinci-code\Proyecto BASES-POO 2021\.idea\.idea.Proyecto BASES-POO 2021\.idea/dataSources/
/dataSources.local.xml
